[Unit]
Description=Enrollment service with docker-compose
Requires=docker.service
After=docker.service

[Service]
Restart=always

WorkingDirectory=/usr/src/enrollment

# Remove old containers
ExecStartPre=/usr/local/bin/docker-compose rm -f
ExecStartPre=-/bin/bash -c 'docker rm $(docker ps -a -q)'
ExecStartPre=-/bin/bash -c 'docker ps -aqf "name=artifactory" | xargs docker rm'

# Compose up
ExecStart=/usr/local/bin/docker-compose -f docker-compose.yaml up -d

# Compose down, remove containers
ExecStop=/usr/local/bin/docker-compose -f docker-compose.yaml down

[Install]
WantedBy=multi-user.target