[Unit]
Description=Enrollment service with docker-compose
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true

WorkingDirectory=/usr/src/enrollment

OOMScoreAdjust=-1000

# Remove old containers
ExecStartPre=/usr/local/bin/docker-compose rm -f

# Compose up
ExecStart=/usr/local/bin/docker-compose up -d --remove-orphans

# Compose down, remove containers
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target