[Unit]
Description=Enrollment service with docker-compose
Requires=docker.service
After=docker.service

[Service]
Restart=always

WorkingDirectory=/usr/src/enrollment

# Remove old containers
ExecStartPre=/usr/local/bin/docker-compose rm -f

# Compose up
ExecStart=/usr/local/bin/docker-compose up -d

# Compose down, remove containers
ExecStop=/usr/local/bin/docker-compose down

[Install]
WantedBy=multi-user.target